

.list {
    display: block;    
    text-align: left;
    border: 1px solid;
    border-radius: 5px;
    border-color: rgb(168, 168, 160);    
    box-sizing: border-box;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 5px;
    margin-right: 5px;

}

.container {
    margin: 5px;
}

.half {
    border: 1px solid rgb(168, 168, 160);
    box-sizing: border-box;
    border-radius: 10px;
    float: left;
    margin: 5px;
    height: inherit;
    padding: 10px;
}

.info {
    margin: 20px;
}

.a {
    text-indent: 20px;
}

body {
    background-color: radian(rgb(83, 51, 197),rgb(214, 62, 189));
}
